$color_1: var(--text-black-900);
$color_2: var(--skin-color);
$color_3: var(--text-black-700);
$color_4: white;
$font-family_1: "poppins", sans-serif;
$font-family_2: "Clicker Script", cursive;
$border-color_1: transparent transparent var(--text-black-900) transparent;

@import "https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";

@keyframes sectionAppear {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes toRightOld {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes toRightNew {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes toLeftOld {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

@keyframes toLeftNew {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

:root {
	--bg-black-900: #f2f2fc;
	--bg-black-100: #fdf9ff;
	--bg-black-50: #e8dfec;
	--text-black-900: #302e4d;
	--text-black-700: #504e70;
	--skin-color: #ec1839;
}

* {
	transition: 300ms;
}

body.dark {
	--bg-black-900: #151515;
	--bg-black-100: #222222;
	--bg-black-50: #393939;
	--text-black-900: #ffffff;
	--text-black-700: #e9e9e9;

	main {
		section.about {
			.container {
				.geral-data {
					.data-self {
						.education {
							.contain {
								&::before {
									opacity: 0.1;
								}
							}
						}

						.xp {
							.slides {
								&::before {
									opacity: 0.2;
								}
							}
						}
					}
				}
			}
		}
	}
}

button {
	cursor: pointer;

	* {
		cursor: pointer;
	}

	i {
		color: $color_2;
		font-size: 25px;
		transition: transform 500ms ease-in-out;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	user-select: none;
	box-sizing: border-box;
	list-style: none;
	font-family: $font-family_1;
}

body {
	line-height: 1.5;
	font-size: 16px;
	overflow-x: hidden;

	* {
		transition: 300ms;
	}
}

aside {
	padding: 30px;
	width: 270px;
	background: var(--bg-black-100);
	position: fixed;
	left: 0;
	top: 0;
	border-right: 1px solid var(--bg-black-50);
	height: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.logo {
		position: absolute;
		top: 50px;
		font-size: 30px;

		a {
			text-transform: capitalize;
			color: $color_1;
			font-weight: 700;
			padding: 15px 20px;
			font-size: 30px;
			letter-spacing: 5px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				border-bottom: 5px solid var(--skin-color);
				border-left: 5px solid var(--skin-color);
				bottom: 0;
				left: 0;
			}

			&::after {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				border-top: 5px solid var(--skin-color);
				border-right: 5px solid var(--skin-color);
				top: 0;
				right: 0;
			}

			span {
				font-family: $font-family_2;
				font-size: 40px;
			}
		}
	}

	.nav-toggler {
		height: 40px;
		width: 45px;
		border: 1px solid var(--bg-black-50);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: fixed;
		left: 300px;
		top: 20px;
		border-radius: 5px;
		background: var(--bg-black-100);
		display: none;

		span {
			height: 3px;
			width: 60%;
			background: var(--skin-color);
			display: inline-block;
			border-radius: 30px;
			margin: 3px 0;
		}
	}

	nav {
		margin: 50px 0;

		ul {
			li {
				margin-bottom: 20px;
				display: block;

				button {
					display: flex;
					justify-content: start;
					align-items: center;
					border: none;
					font-size: 16px;
					font-weight: 600;
					width: 100%;
					border-bottom: 1px solid var(--bg-black-50);
					color: $color_1;
					padding: 5px 15px;
					background: transparent;

					i {
						margin-right: 10px;
						transition: 500ms;

					}

					span {
						transition: 500ms;
					}
				}

				button.active {
					color: $color_2;
					cursor: default;

					* {
						cursor: default;
					}
				}
			}
		}
	}

	.theme {
		width: 40%;
		display: flex;
		justify-content: space-between;

		label {
			cursor: pointer;
			padding: 5px;

			i {
				color: var(--skin-color);
				font-size: 25px;


			}

		}

		input {
			display: none;
		}

		button {
			border: none;
			background: transparent;
			padding: 5px;

			i {
				color: var(--skin-color);
				font-size: 25px;

			}
		}

		&:where(label) {
			color: $color_2;
			font-size: 25px;
			transition: transform 500ms ease-in-out;
		}
	}
}

main {
	section {
		background: var(--bg-black-900);
		height: 100vh;
		position: absolute;
		left: 270px;
		padding: 0 30px;
		top: 0;
		right: 0;
		z-index: 0;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		border-left: 1px solid var(--bg-black-50);

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: var(--bg-black-900);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--skin-color);
		}

		>.container {
			padding: 20px 0px 50px 0;

			>h1 {
				font-size: 40px;
				color: $color_1;
				margin-bottom: 50px;
				position: relative;
				display: inline-block;

				&::before {
					content: "";
					position: absolute;
					background: var(--skin-color);
					width: 40%;
					height: 3px;
					bottom: 0;
					left: 0;
				}

				&::after {
					content: "";
					position: absolute;
					background: var(--skin-color);
					width: 40%;
					height: 3px;
					bottom: 0;
					left: 0;
					top: 110%;
					width: 30%;
				}
			}
		}
	}

	section.sectionAppear {
		animation: sectionAppear 1000ms ease-in-out;
	}

	section.home {
		height: 100%;
		color: $color_1;
		z-index: 1;

		.container {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;

			.left {
				width: 60%;

				h1 {
					font-size: 30px;
					margin-bottom: 30px;


					span {
						font-family: $font-family_2;
						font-size: 40px;
						color: $color_2;
						font-weight: 900;
					}
				}

				h2 {
					margin-bottom: 10px;
					font-size: 30px;

					span {
						color: $color_2;
					}
				}

				p {
					margin-bottom: 50px;
					width: 90%;
					color: $color_3;
				}

				a {
					display: inline-block;
					padding: 12px 35px;
					border-radius: 50px;
					border: 3px solid var(--skin-color);
					font-size: 20px;
					font-weight: 500;
					color: $color_1;
					white-space: nowrap;
					transition: all 300ms ease;

					&:hover {
						background: var(--skin-color);
						color: $color_4;
						border: 3px solid var(--bg-black-50);
					}
				}
			}

			.right {
				display: flex;
				width: 40%;

				.img {
					position: relative;
					width: 300px;
					height: 370px;

					&::before {
						content: "";
						position: absolute;
						width: 80px;
						height: 80px;
						border-bottom: 10px solid var(--skin-color);
						border-left: 10px solid var(--skin-color);
						bottom: -30px;
						left: -50px;
					}

					&::after {
						content: "";
						position: absolute;
						width: 80px;
						height: 80px;
						border-top: 10px solid var(--skin-color);
						border-right: 10px solid var(--skin-color);
						top: -30px;
						right: -50px;
					}

					.overflow {
						width: 100%;
						height: 100%;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 5px;
					}

					img {
						width: 160%;
						height: 100%;
					}
				}
			}
		}
	}

	section.about {
		>.container {
			padding: 20px 30px 150px 0;

			>p {
				color: $color_3;
				margin-bottom: 30px;
				text-align: justify;
			}
		}

		.container {
			h2 {
				color: $color_1;
				font-size: 25px;
			}

			.geral-data {
				display: flex;
				justify-content: space-between;

				.data-self {
					width: 60%;

					ul.data {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						margin-bottom: 40px;

						li {
							width: 48%;
							height: 40px;
							display: flex;
							align-items: center;
							border-bottom: 1px solid var(--bg-black-50);
							color: $color_3;

							span {
								color: $color_1;
								font-weight: 900;
								padding-right: 5px;
							}
						}
					}

					.btn {
						width: 100%;
						margin-bottom: 70px;

						a {
							margin-right: 30px;
							display: inline-block;
							padding: 10px 35px;
							border-radius: 50px;
							border: none;
							background: var(--skin-color);
							font-size: 18px;
							font-weight: 500;
							color: $color_4;
							white-space: nowrap;
							transition: all 300ms ease;

							&:hover {
								scale: 1.05;
							}
						}
					}

					.education {
						h3 {
							margin-bottom: 20px;
							font-size: 30px;
							color: $color_1;
							text-align: center;
						}

						.contain {
							background: var(--bg-black-100);
							border-radius: 10px;
							padding: 30px 25px;
							margin-bottom: 70px;
							background: var(--bg-black-100);
							background-size: 100%;
							box-shadow: 0 0 10px var(--bg-black-50);
							position: relative;

							&::before {
								content: "";
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								background: url(../static/img/riscos-suaves.png) center no-repeat;
								background-size: 100% 100%;
								transition: 300ms;
								opacity: 1;
							}

							ul {
								li {
									position: relative;
									padding-left: 23px;
									border-left: 5px solid var(--skin-color);
									color: $color_3;
									padding-bottom: 30px;
									text-align: justify;

									&:last-child {
										border-left: 5px solid transparent;
										padding-bottom: 0px;
									}

									.point {
										width: 20px;
										height: 20px;
										background: var(--skin-color);
										border-radius: 50%;
										position: absolute;
										transform: translateX(-178%);
									}

									.time {
										margin-bottom: 10px;
										color: $color_3;

										i {
											margin-right: 8px;
											color: $color_1;
										}

										span {
											color: $color_3;
										}
									}

									h4 {
										color: $color_1;
										font-size: 20px;
										margin-bottom: 5px;
									}

									p {
										color: $color_3;
									}
								}
							}
						}
					}

					.xp {
						width: 600px;
						margin: 0 auto;

						h3 {
							text-align: center;
							font-size: 30px;
							color: $color_1;
							margin-bottom: 25px;
						}

						.slides {
							position: relative;
							padding: 20px 50px;
							overflow: hidden;
							border-radius: 10px;
							background: var(--bg-black-100);
							background-size: 100%;
							box-shadow: 0 0 10px var(--bg-black-50);

							&::before {
								content: "";
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								background: url(../static/img/bg-value-lines.png) center no-repeat;
								background-size: 100%;
								opacity: 1;
								transition: 300ms;
							}

							&:where(.next) {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								cursor: pointer;
								padding: 10px 5px;
								font-size: 40px;
								color: $color_2;
								font-size: 30px;
								transition: 200ms;
								user-select: none;
							}

							.prev {
								left: 10px;
							}

							.next {
								right: 10px;
							}

							ul {
								overflow: hidden;
								position: relative;
								height: 180px;
							}

							.slides-pag {
								position: absolute;
								opacity: 0;
								transition: opacity 500ms 0ms;
								width: 500px;

								h4 {
									color: $color_2;
									text-align: center;
									text-transform: uppercase;
									font-size: 20px;
									margin-bottom: 10px;
								}

								p {
									text-align: justify;
									color: $color_3;
								}
							}

							.slides-pag.toRightOld {
								animation: toRightOld 500ms ease-in-out;
							}

							.slides-pag.toRightNew {
								animation: toRightNew 500ms ease-in-out;
							}

							.slides-pag.toLeftOld {
								animation: toLeftOld 500ms ease-in-out;
							}

							.slides-pag.toLeftNew {
								animation: toLeftNew 500ms ease-in-out;
							}

							.slides-pag.active {
								opacity: 1;
								transition: opacity 0ms 0ms;
							}

							.dots {
								height: 30px;
								display: flex;
								justify-content: center;
								align-items: center;

								.dot {
									width: 15px;
									height: 15px;
									border: 2px solid var(--skin-color);
									margin: 0 10px;
									border-radius: 50%;
									cursor: pointer;
									transition: 500ms;
								}

								.dot.active {
									background: var(--skin-color);
								}
							}
						}
					}
				}

				.skills {
					width: 35%;

					h3 {
						text-align: center;
						font-size: 30px;
						color: $color_1;
					}

					>span {
						display: block;
						margin-bottom: 20px;
						color: $color_3;
					}

					>div#skills {
						>h4 {
							margin-bottom: 10px;
							font-size: 20px;
							color: $color_2;
							text-decoration: underline;
						}

						>ul {
							margin-bottom: 15px;
							border-bottom: 1px solid var(--bg-black-50);

							li {
								position: relative;
								margin-bottom: 25px;

								.progress {
									.name-porcent {
										display: flex;
										justify-content: space-between;
										margin-bottom: 5px;
										position: relative;

										span {
											&:nth-child(1) {
												font-weight: 900;
												color: $color_1;
												cursor: pointer;

												&:hover {
													~ {
														.details {
															visibility: visible;
														}
													}
												}
											}

											&:nth-child(3) {
												color: $color_3;
											}
										}

										.details {
											position: absolute;
											visibility: hidden;
											top: 220%;
											background: var(--bg-black-100);
											z-index: 10;
											color: $color_3;
											border: 2px solid var(--text-black-900);
											padding: 10px;
											border-radius: 10px;
											text-align: justify;

											&::before {
												position: absolute;
												content: "";
												width: 0px;
												height: 0px;
												border-width: 10px;
												border-style: solid;
												border-color: $border-color_1;
												top: 0;
												transform: translateY(-100%);
											}
										}
									}

									.progress-bar {
										width: 100%;
										height: 10px;
										background: var(--bg-black-50);
										overflow: hidden;
										border-radius: 50px;

										.progress-value {
											background: var(--skin-color);
											height: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	section.services {
		* {
			// outline: 1px dotted;
		}

		.servicesCards {
			display: flex;
			flex-wrap: wrap;
			// justify-content: space-between;

			.card {
				min-width: 300px;
				width: 30%;
				max-width: 450px;
				background: var(--bg-black-100);
				padding: 20px;
				margin: 10px;
				border: 2px solid var(--bg-black-50);
				border-radius: 5px;
				.i {
					height: 100px;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						height: 100px;
						width: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 30%;
						color: var(--skin-color);
						font-size: 3rem;
						transition: 400ms ease-in-out;
					}
				}

				h2 {
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--text-black-900);
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 20px;
					height: 70px;
				}

				p {
					color: var(--text-black-700);
					text-align: justify;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					height: 95px;
				}
				&:hover{
					cursor: pointer;
					i{
						color: var(--bg-black-100);
						background: var(--skin-color);
						padding: 20px;
						border-radius: 50%;

					}
				}
			}
		}
	}
}

.prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 10px 5px;

	&:hover {
		>i {
			font-size: 40px;
		}
	}

	i {
		color: $color_2;
		font-size: 30px;
		transition: 200ms;
		user-select: none;
	}
}