@keyframes sectionAppear {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes toRightOld {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes toRightNew {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes toLeftOld {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

@keyframes toLeftNew {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}